<!DOCTYPE html>
<html>
<head>
  <title> NVAT </title>
  <style media="screen" type="text/css">
  h1 {
  color: white;
  font-size: 30px;
  font-family: georgia, ariel;
  font-weight: bold;
}

.titles {
  color:#E9E9E9;
  font-size: 20px;
  font-style: italic;
}

.notes {
  color: #E9E9E9;
  font-size: 20px;
}

.highlight {
  color: red;
  font-size: 20px;
}

h3 {
  color: #4EB1BA;
  font-size: 20px;
}


p {
  color:#E9E9E9;
  font-size: 20px;
}

.bottom {
    position: fixed;
    bottom: 0;
  font-size: 10px;
}

.wrapper {
  background-color: #222930;
}
</style>
</head>
<body class = "wrapper">

  <center>

  <div id="form">

    <center>
      <h1> Intruder Profiles</h1>
    </center>

    <p class = "highlight"> This query is to get a list of intruder images in a given timerange </p>

    <form action="{{ url_for('getIntrudersNext') }}", method="get">

        <p class = "notes">
        Enter the lower limit of time range <input type="datetime-local" name="t1">
        <br />
        Enter the upper limit of time range <input type="datetime-local" name="t2">
        </p>

        <input type="submit" value="Get List of Intruder Images" >

    </form>
    <h3> <a href="{{ url_for('home')}}"> Home </a> </h3>

  </div >

  <div id="list">
      {%if list==True%}
        <table>
        {% for element in idlist%}

          <tr><td>
            <form action="{{ url_for('getVideoClipsFirst') }}", method="get">

              <img src="/static/{{element}}.jpg" width="100" height="100" onclick="submit()"/>

              <input type="hidden" value="{{element}}" name="intid">
              <input type="hidden" value="{{t1}}" name="t1">
              <input type="hidden" value="{{t2}}" name="t2">

            </form>
          </td></tr>

        {%endfor%}
        </table>
      {%endif%}
  </div>

  </center>

</body>
</html>
