<!DOCTYPE html>
<html>
<head>
  <title> NVAT </title>
  <link rel = "stylesheet" href = "css/style.css">
</head>
<body class = "wrapper">
  <center>
    <div>

    	<center>
        <h1> Total Count </h1>
    	</center>

      <p class = "highlight">
      This query is to get total count of intruders in a given timerange
      </p>

      <form action="{{ url_for('getTotalCountNext') }}", method="get">

        <p class = "notes">
        Enter the lower limit of time range <input type="datetime-local" name="t1">
        <br />
        Enter the upper limit of time range <input type="datetime-local" name="t2">
  	    </p>
        <input type="submit" value="Get Total Count of Intruders" >

      </form>
      <h3> <a href="{{ url_for('home')}}"> Home </a> </h3>
    </div>
  </center>
</body>
</html>
