<!DOCTYPE html>
<html>
<head>
  <title> NVAT </title>
  <style media="screen" type="text/css">
  h1 {
  color: white;
  font-size: 30px;
  font-family: georgia, ariel;
  font-weight: bold;
}

.titles {
  color:#E9E9E9;
  font-size: 20px;
  font-style: italic;
}

.notes {
  color: #E9E9E9;
  font-size: 20px;
}

.highlight {
  color: red;
  font-size: 20px;
}

h3 {
  color: #4EB1BA;
  font-size: 20px;
}


p {
  color:#E9E9E9;
  font-size: 20px;
}

.bottom {
    position: fixed;
    bottom: 0;
  font-size: 10px;
}

.wrapper {
  background-color: #222930;
}
</style>
</head>
<body class = "wrapper">
  <center>
    <div>

    	<center>
        <h1> Total Count </h1>
    	</center>

      <p class = "highlight">
      This query is to get total count of intruders in a given timerange
      </p>

      <form action="{{ url_for('getTotalCountNext') }}", method="get">

        <p class = "notes">
        Enter the lower limit of time range <input type="datetime-local" name="t1">
        <br />
        Enter the upper limit of time range <input type="datetime-local" name="t2">
  	    </p>
        <input type="submit" value="Get Total Count of Intruders" >

      </form>
      <h3> <a href="{{ url_for('home')}}"> Home </a> </h3>
    </div>
  </center>
</body>
</html>
