<!DOCTYPE html>
<html>
<head>
  <title> NVAT </title>
  <link rel = "stylesheet" href = "css/style.css">
</head>
<body class = "wrapper">
  <center>
    <div>

      <h1> getVideoClips </h1>
      <ul>

        <li> time 1 : {{ t1 }}
        <li> time 2 : {{ t2 }}
        <li> intruder id : {{ intid }}

      </ul>

      {% for video_data in video_list %}
      <ul>

        <li>
         id : {{ video_data.id }}
         camera_id : {{ video_data.camera_id }}
         start_time : {{ video_data.start_time }}
         end_time :   {{ video_data.end_time }}
         file_path :  {{ video_data.file_path }}
         <video width="320" height="240" controls="controls">
           <source src="/static/{{video_data.file_path}}" type="video/mp4">
         </video>

       </li>

      </ul>
      {%endfor%}

      <h3> <a href="{{ url_for('home')}}"> Home </a> </h3>

    </div>
  </center>
</body>
</html>
