<!DOCTYPE html>
<html lang="en">
<head>
  <title>NVAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  .affix-top {
      position: static;
      top: -35px;
  }
  .affix + .container-fluid {
      padding-top: 70px;
  }
  .btn-default {
      background: #000;
      color: #fff;
  }
  .btn-default:hover {
      background: #fff;
      color: #000;
  }
  body {
      position: relative;
  }
  .carousel-inner{
      width:100%;
      max-height: 550px !important;
      align: center;
  }
  #section1 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim1.jpg");}
  #section2 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim2.jpg");}
  #section3 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim3.jpg");}
  #section4 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim1.jpg");}
  #section5 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim2.jpg");}
  #section61 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim3.jpg");}
  #section62 {padding-top:50px; height:500px; color: white; background-image: url("/static/bgim1.jpg");}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color:#080808">

  <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Novel Video Analytics and Tapestry</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">About</a></li>
          <li><a href="#section2">Intruder Count</a></li>
          <li><a href="#section3">Intruder Specific Tapestry</a></li>
          <li><a href="#section4">Video clips</a></li>
          <li><a href="#section5">User Specific Video</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Intruder distribution (Visualization) <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section61">Day wise </a></li>
              <li><a href="#section62">Camera wise </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </nav>

  <div class="container-fluid" style="height:700px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/intruder1.jpg" alt="Intruder1" style="width:100%;">
          <h3>Intruder1</h3>
          <p>--------------</p>
        </div>

        <div class="item">
          <img src="/static/intruder2.jpg" alt="Intruder2" style="width:100%;">
          <h3>Intruder2</h3>
          <p>--------------</p>
        </div>

        <div class="item">
          <img src="/static/intruder3.jpg" alt="Intruder3" style="width:100%;">
          <h3>Intruder3</h3>
          <p>--------------</p>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="section1" class="container-fluid">
    <h1>About</h1>
    <p>NVAT is an automated system for the detection of intruders and general surveillance.</p>
  	<p>Our website lets you count, detect and trace the path of an unwanted trespasser(s) without the need of a human monitoring system.</p>
  </div>

  <div id="section2" class="container-fluid">
    <h1>Get Intruder Count</h1>
    <p> This query is to get total count of intruders in a given timerange </p>
    <form action="{{ url_for('getTotalCount') }}" method="get" class="form-inline" onsubmit="openModal()" id="myForm">
      <table>
        <tr>
          <td><p class = "notes"> Enter the lower limit of time range </p></td>
          <td><input type="datetime-local" name="t1" style="color:#000000;"></td>
        </tr>
        <tr>
          <td><p class = "notes"> Enter the upper limit of time range </p></td>
          <td><input type="datetime-local" name="t2" style="color:#000000;"></td>
        </tr>
      </table>
      <button type="submit" class="btn btn-default">Get Total Count of Intruders</button>
    </form>
  </div>

  <!--
  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Intruder count</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> // /.modal-content
    </div> // /.modal-dialog
  </div> // /.modal
  <script>
  $('#myForm').on('submit', function(e){
    $('#myModal').modal('show');
    e.preventDefault();
  });
  </script>
  -->

  <div id="section3" class="container-fluid">
    <h1>Get Intruder Specific Tapestry</h1>
    <div id="form">
      <p class = "highlight"> This query is to get a list of intruder tapestries in a given timerange </p>
      <p> There are two steps to this:<p>
      <p> 1) Enter the time range </p>
      <p> 2) Choose the intruder image whose tapestry you'd like to view </p>

      <form action="{{ url_for('getIntruderProfiles') }}", method="get">
        <table>
          <tr>
            <td><p class = "notes"> Enter the lower limit of time range </p></td>
            <td><input type="datetime-local" name="t1" style="color:#000000;"></td>
          </tr>
          <tr>
            <td><p class = "notes"> Enter the upper limit of time range </p></td>
            <td><input type="datetime-local" name="t2" style="color:#000000;"></td>
          </tr>
        </table>
        <input type="submit" class="btn btn-default" value="Get List of Intruder Images" />
      </form>

    </div >

    <div id="list">
        {%if list==True%}
          <table>
          {% for element in idlist%}

            <tr><td>
              <form action="{{ url_for('getTapestry') }}", method="get">

                <img src="/static/{{element}}.jpg" width="100" height="100" onclick="submit()"/>

                <input type="hidden" value="{{element}}" name="intid">
                <input type="hidden" value="{{t1}}" name="t1">
                <input type="hidden" value="{{t2}}" name="t2">
              </form>
            </td></tr>
          {%endfor%}
          </table>
        {%endif%}
    </div>
  </div>

  <div id="section4" class="container-fluid">
    <h1> Get All Video Clips </h1>
    <p> This query is to get a list of intruder video clips in a given time range  </p>
    <form action="{{ url_for('getVideoClips') }}", method="get">
      <table>
        <tr>
          <td><p class = "notes"> Enter the lower limit of time range </p></td>
          <td><input type="datetime-local" name="t1" style="color:#000000;"></td>
        </tr>
        <tr>
          <td><p class = "notes"> Enter the upper limit of time range </p></td>
          <td><input type="datetime-local" name="t2" style="color:#000000;"></td>
        </tr>
      </table>
      <button type="submit" class="btn btn-default">Get Video Clips of Intruders</button>
    </form>
  </div>

  <div id="section5" class="container-fluid">
    <h1> Upload File and Get Analytics </h1>
    <p> This query is for the user to upload a specific video file and output analytics on that file  </p>
    <form action="{{ url_for('uploadVideo') }}", method="post"  enctype = "multipart/form-data">
  	 <table>
  		<tr>
          <td><p class = "notes"> Select video file </p></td>
  		</br>
          <td><input type="file" name="file_path" accept = "video/*" style="color:#000000;"></td>
        </tr>
          <td><p class = "notes"> Enter name/description of the file: </p></td>
  		</br>
          <td><input type="text" name="description" style="color:#000000;"></td>
        </tr>
  	  <tr>
          <td><p class = "notes"> Enter start time: </p></td>
  		</br>
          <td><input type="datetime-local" name="start_time" style="color:#000000;"></td>
        </tr>
  	 </table>
  	 <button type="submit" class="btn btn-default">Upload File </button>
    </form>
  </div>

  <div id="section61" class="container-fluid">
    <h1>Day wise intruder distribution</h1>
    <p> This query is to view the day wise intruder distribution in a given daterange </p>
    <form action="{{ url_for('dayWiseIntruders') }}" method="get" class="form-inline" onsubmit="openModal()" id="myForm">
      <table>
        <tr>
          <td><p class = "notes"> Enter the lower limit of date range </p></td>
          <td><input type="date" name="d1" style="color:#000000;"></td>
        </tr>
        <tr>
          <td><p class = "notes"> Enter the upper limit of date range </p></td>
          <td><input type="date" name="d2" style="color:#000000;"></td>
        </tr>
      </table>
      <button type="submit" class="btn btn-default">View the distribution</button>
    </form>

  </div>

  <div id="section62" class="container-fluid">
    <h1>Camera wise intruder distribution</h1>
    <p> This query is to view the camera wise intruder distribution on a given day </p>
    <form action="{{ url_for('cameraWiseIntruders') }}" method="get" class="form-inline" onsubmit="openModal()" id="myForm">
      <table>
        <tr>
          <td><p class = "notes"> Enter date of the day </p></td>
          <td><input type="date" name="date" style="color:#000000;"></td>
        </tr>
      </table>
      <br/>
      <button type="submit" class="btn btn-default">View the distribution</button>
    </form>
  </div>

</body>
</html>
